.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.no_outline_btn {
  background-color: transparent;
  border: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: center;
  bottom: 0;
}

input {
  width: 737px;
  height: 63px;
  left: 425px;
  top: 282px;
  text-align: center;
  font-size: 30px;
  background-image: url("../public/images/text/input.png");
  background-size: cover;
  border: none;
}
